# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
.idea



src/main/resources/ui/target/

**/node_modules/
/ui/build/bundle.js
/src/main/resources/ui/dist/
/project/project/target/
/project/target/
/target/
/src/main/js/package-lock.json
