# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
.idea



src/main/resources/ui/target/

node_modules/
/src/main/resources/ui/dist/
/project/project/target/
/project/target/
/target/
package-lock.json
