<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Weather-info">
    <meta name="author" content="acteek@yandex.ru">
    <meta name="google-site-verification" content="YSD8KlWIQ8DdiJXorRvUNgK5CsOdMALrZjBp3nrjphI"/>
    <title>Weather-info</title>
    <link rel="icon" type="image/svg" href="icon.svg">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="navbar-brand">Forecast</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-center" id="navbarCollapse">
            <form class="form-inline mt-2 mt-md-0">
                <div class="form-group p-1">
                    <select class="form-control" v-model="period">
                        <option value="1">24 hours</option>
                        <option value="3">3 days</option>
                        <option value="5">5 days</option>
                    </select>
                </div>

                <div class="form-group p-1">


                    <select class="form-control selectpicker" v-model="targetCity">
                        <option v-for="city in cities" v-bind:value="city">
                            {{ city }}
                    </select>
                </div>

            </form>
        </div>
    </nav>

    <div class="container-fluid" style="padding-top: 70px">
        <metrics-chart :labels="labels" :graph="tempGraph"></metrics-chart>
        <metrics-chart :labels="labels" :graph="humGraph"></metrics-chart>
        <metrics-chart :labels="labels" :graph="windGraph"></metrics-chart>
    </div>
</div>
<script src="/dist/build.js"></script>
</body>
</html>
