<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Weather-info">
    <meta name="author" content="acteek@yandex.ru">
    <meta name="google-site-verification" content="YSD8KlWIQ8DdiJXorRvUNgK5CsOdMALrZjBp3nrjphI" />
    <title>Weather-info</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar5">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand">Weather-info</div>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar5">
        <div class="navbar-nav">
            <form class="form-inline d-flex flex-row ">
                <div class="form-group p-2">
                    <label for="date-from">From date</label>
                    <input type="datetime-local" id="date-from" name="date-from" class="form-control mx-sm-3"
                           aria-describedby=""  v-model="dateFrom" v-bind:min="dateMin" v-bind:max="dateMax">
                </div>
                <div class="form-group p-2">
                    <label for="date-to">To date </label>
                    <input type="datetime-local" id="date-to" name="date-to" class="form-control mx-sm-3"
                           aria-describedby=""  v-model="dateTo" v-bind:min="dateMin" v-bind:max="dateMax">
                </div>
                <div class="form-group p-2">
                    <input class="form-control" v-model="searchCity" v-on:keyup.enter="getMetrics" name="city" type="text" placeholder="город для запроса">
                    <button class="btn btn-outline-success" v-on:click="getMetrics" type="button">Прогноз</button>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <temp-chart :width="400" :height="300"></temp-chart>
    <humidity-chart :width="400" :height="300"></humidity-chart>
    <weed-speed-chart :width="400" :height="300"></weed-speed-chart>
    <weed-deg-chart :width="400" :height="300"></weed-deg-chart>
    <stat-temp-chart :width="400" :height="300"></stat-temp-chart>
    <statistic></statistic>
</div>
</div>
<script src="/js/build.js"></script>
</body>
</html>
